載入套件

In [1]:
import pandas as pd

讀取資料集檔案[線上零售資料集](https://archive.ics.uci.edu/ml/datasets/Online+Retail)

In [2]:
df = pd.read_excel('Online Retail.xlsx')

讀取的資料大小

In [3]:
df.shape

(541909, 8)

541909列(rows，紀錄)，8行(columns，欄位)

資料的欄位名稱

In [4]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

這是一個交易發票的檔案，包含發票編號(InvoiceNo)、貨品編號(StockCode)、描述(Description)、數量(Quantity)、發票日期(InvoiceDate)、單價(UnitPrice)、顧客識別號(CustomerID)、國別(Country)等變數欄位。

數值類型的欄位資料的統計描述情形

In [5]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

前五筆資料

In [6]:
df[:5]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

後五筆資料

In [7]:
df[-5:]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

列出CustomerID沒有資料的紀錄

In [11]:
df[pd.isna(df.CustomerID)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,2010-12-01 14:32:00,1.66,NaN,United Kingdom
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,2010-12-01 14:32:00,0.43,NaN,United Kingdom
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,2010-12-01 14:32:00,0.43,NaN,United Kingdom
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,2010-12-01 14:32:00,0.43,NaN,United Kingdom
1452,536544,21809,CHRISTMAS HANGING TREE WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1453,536544,21810,CHRISTMAS HANGING STAR WITH BELL,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1454,536544,21811,CHRISTMAS HANGING HEART WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1455,536544,21821,GLITTER STAR GARLAND WITH BELLS,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom
1456,536544,21822,GLITTER CHRISTMAS TREE WITH BELLS,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom
1457,536544,21823,PAINTED METAL HEART WITH HOLLY BELL,2,2010-12-01 14:32:00,2.98,NaN,United Kingdom
1458,536544,21844,RED RETROSPOT MUG,2,2010-12-01 14:32:00,5.91,NaN,United Kingdom
1459,536544,21851,LILAC DIAMANTE PEN IN GIFT BOX,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom
1460,536544,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom
1461,536544,21871,SAVE THE PLANET MUG,5,2010-12-01 14:32:00,3.36,NaN,United Kingdom
1462,536544,21874,GIN AND TONIC MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom
1463,536544,21879,HEARTS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom
1464,536544,21884,CAKES AND BOWS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom
1465,536544,21888,BINGO SET,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom
1466,536544,21889,WOODEN BOX OF DOMINOES,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1467,536544,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1468,536544,21894,POTTING SHED SEED ENVELOPES,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1469,536544,21911,GARDEN METAL SIGN,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom
1470,536544,21912,VINTAGE SNAKES & LADDERS,3,2010-12-01 14:32:00,7.62,NaN,United Kingdom
1471,536544,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom
541512,581498,72349b,SET/6 PURPLE BUTTERFLY T-LIGHTS,2,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541513,581498,79321,CHILLI LIGHTS,10,2011-12-09 10:26:00,12.46,NaN,United Kingdom
541514,581498,82001s,SILVER RECORD COVER FRAME,2,2011-12-09 10:26:00,7.46,NaN,United Kingdom
541515,581498,82482,WOODEN PICTURE FRAME WHITE FINISH,4,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541516,581498,82552,WASHROOM METAL SIGN,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom
541517,581498,82580,BATHROOM METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom
541518,581498,82581,TOILET METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom
541519,581498,82600,N0 SINGING METAL SIGN,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541520,581498,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,2011-12-09 10:26:00,8.29,NaN,United Kingdom
541521,581498,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,4,2011-12-09 10:26:00,5.79,NaN,United Kingdom
541522,581498,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,3,2011-12-09 10:26:00,3.29,NaN,United Kingdom
541523,581498,84375,SET OF 20 KIDS COOKIE CUTTERS,3,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541524,581498,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,2011-12-09 10:26:00,7.46,NaN,United Kingdom
541525,581498,84558a,3D DOG PICTURE PLAYING CARDS,1,2011-12-09 10:26:00,5.79,NaN,United Kingdom
541526,581498,84832,ZINC WILLIE WINKIE CANDLE STICK,26,2011-12-09 10:26:00,1.63,NaN,United Kingdom
541527,581498,84968e,SET OF 16 VINTAGE BLACK CUTLERY,1,2011-12-09 10:26:00,24.96,NaN,United Kingdom
541528,581498,84970s,HANGING HEART ZINC T-LIGHT HOLDER,1,2011-12-09 10:26:00,2.08,NaN,United Kingdom
541529,581498,84997a,CHILDRENS CUTLERY POLKADOT GREEN,2,2011-12-09 10:26:00,8.29,NaN,United Kingdom
541530,581498,84997b,CHILDRENS CUTLERY RETROSPOT RED,3,2011-12-09 10:26:00,8.29,NaN,United Kingdom
541531,581498,84997d,CHILDRENS CUTLERY POLKADOT PINK,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom
541532,581498,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,1,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541533,581498,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom
541534,581498,85049a,TRADITIONAL CHRISTMAS RIBBONS,5,2011-12-09 10:26:00,3.29,NaN,United Kingdom
541535,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

去除CustomerID沒有資料的紀錄

In [3]:
df = df.dropna(subset=['CustomerID'])

確認是否去除成功

In [13]:
df[pd.isna(df.CustomerID)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

為了處理時間資料，載入datetime套件

In [4]:
from datetime import datetime

查看發票日期(InvoiceDate)

In [5]:
print('最後日期', max(df.InvoiceDate), '最前日期', min(df.InvoiceDate))

最後日期 2011-12-09 12:50:00 最前日期 2010-12-01 08:26:00

發票日期在2010-12-01到2011-12-09間，稍微超過一年，為了方便計算起見，取2010-12-09到2011-12-09之間的資料

In [6]:
df = df[df.InvoiceDate>=datetime(2010, 12, 9, 0, 0, 0)]

查看數量(Quantity)為負或0的情形

In [32]:
df[df.Quantity<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,2010-12-01 10:24:00,3.45,17548.0,United Kingdom
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
939,C536506,22960,JAM MAKING SET WITH JARS,-6,2010-12-01 12:38:00,4.25,17897.0,United Kingdom
1441,C536543,22632,HAND WARMER RED RETROSPOT,-1,2010-12-01 14:30:00,2.10,17841.0,United Kingdom
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,2010-12-01 14:30:00,0.85,17841.0,United Kingdom
1973,C536548,22244,3 HOOK HANGER MAGIC GARDEN,-4,2010-12-01 14:33:00,1.95,12472.0,Germany
1974,C536548,22242,5 HOOK HANGER MAGIC TOADSTOOL,-5,2010-12-01 14:33:00,1.65,12472.0,Germany
1975,C536548,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-1,2010-12-01 14:33:00,2.95,12472.0,Germany
1976,C536548,22892,SET OF SALT AND PEPPER TOADSTOOLS,-7,2010-12-01 14:33:00,1.25,12472.0,Germany
1977,C536548,22654,DELUXE SEWING KIT,-1,2010-12-01 14:33:00,5.95,12472.0,Germany
1978,C536548,22767,TRIPLE PHOTO FRAME CORNICE,-2,2010-12-01 14:33:00,9.95,12472.0,Germany
1979,C536548,22333,RETROSPOT PARTY BAG + STICKER SET,-1,2010-12-01 14:33:00,1.65,12472.0,Germany
1980,C536548,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",-2,2010-12-01 14:33:00,0.85,12472.0,Germany
1981,C536548,22077,6 RIBBONS RUSTIC CHARM,-6,2010-12-01 14:33:00,1.65,12472.0,Germany
1982,C536548,22631,CIRCUS PARADE LUNCH BOX,-1,2010-12-01 14:33:00,1.95,12472.0,Germany
1983,C536548,22168,ORGANISER WOOD ANTIQUE WHITE,-2,2010-12-01 14:33:00,8.50,12472.0,Germany
1984,C536548,21218,RED SPOTTY BISCUIT TIN,-3,2010-12-01 14:33:00,3.75,12472.0,Germany
1985,C536548,20957,PORCELAIN HANGING BELL SMALL,-1,2010-12-01 14:33:00,1.45,12472.0,Germany
1986,C536548,22580,ADVENT CALENDAR GINGHAM SACK,-4,2010-12-01 14:33:00,5.95,12472.0,Germany
3170,C536606,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-2,2010-12-02 09:10:00,2.95,14092.0,United Kingdom
3338,C536622,22752,SET 7 BABUSHKA NESTING BOXES,-2,2010-12-02 10:37:00,8.50,12471.0,Germany
3410,C536625,22839,3 TIER CAKE TIN GREEN AND CREAM,-2,2010-12-02 10:46:00,14.95,14766.0,United Kingdom
3693,C536642,21463,MIRRORED DISCO BALL,-1,2010-12-02 11:56:00,5.95,14390.0,United Kingdom
...,...,...,...,...,...,...,...,...
538564,C581409,82482,WOODEN PICTURE FRAME WHITE FINISH,-1,2011-12-08 14:08:00,2.95,12476.0,Germany
538565,C581409,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,-2,2011-12-08 14:08:00,3.29,12476.0,Germany
538566,C581409,85199L,LARGE HANGING IVORY & RED WOOD BIRD,-1,2011-12-08 14:08:00,0.65,12476.0,Germany
538567,C581409,85127,SMALL SQUARE CUT GLASS CANDLESTICK,-5,2011-12-08 14:08:00,4.95,12476.0,Germany
540072,C581460,22197,POPCORN HOLDER,-5,2011-12-08 18:48:00,0.72,13078.0,United Kingdom
540073,C581460,22107,PIZZA PLATE IN BOX,-1,2011-12-08 18:48:00,1.25,13078.0,United Kingdom
540078,C581462,16219,HOUSE SHAPE PENCIL SHARPENER,-48,2011-12-08 18:51:00,0.06,12985.0,United Kingdom
540079,C581462,21642,ASSORTED TUTTI FRUTTI PEN,-72,2011-12-08 18:51:00,0.29,12985.0,United Kingdom
540080,C581463,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,-2,2011-12-08 18:56:00,7.95,17526.0,United Kingdom
540081,C581464,23458,DOLLY CABINET 3 DRAWERS,-1,2011-12-08 18:57:00,14.95,15951.0,United Kingdom
540082,C581464,71477,COLOURED GLASS STAR T-LIGHT HOLDER,-6,2011-12-08 18:57:00,3.95,15951.0,United Kingdom
540083,C581465,23660,HENRIETTA HEN MUG,-2,2011-12-08 18:59:00,1.65,15755.0,United Kingdom
540084,C581465,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,-1,2011-12-08 18:59:00,8.50,15755.0,United Kingdom
540085,C581465,21876,POTTERING MUG,-4,2011-12-08 18:59:00,1.65,15755.0,United Kingdom
540086,C581465,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-3,2011-12-08 18:59:00,2.95,15755.0,United Kingdom
540087,C581466,22838,3 TIER CAKE TIN RED AND CREAM,-1,2011-12-08 19:20:00,14.95,13883.0,United Kingdom
540088,C581466,22720,SET OF 3 CAKE TINS PANTRY DESIGN,-2,2011-12-08 19:20:00,4.95,13883.0,United Kingdom
540089,C581466,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",-1,2011-12-08 19:20:00,4.95,13883.0,United Kingdom
540090,C581466,21535,RED RETROSPOT SMALL MILK JUG,-2,2011-12-08 19:20:00,2.55,13883.0,United Kingdom
540091,C581466,21232,STRAWBERRY CERAMIC TRINKET POT,-1,2011-12-08 19:20:00,1.25,13883.0,United Kingdom
540141,C581468,21314,SMALL GLASS HEART TRINKET POT,-10,2011-12-08 19:26:00,2.10,13599.0,United Kingdom
540142,C581468,22098,BOUDOIR SQUARE TISSUE BOX,-12,2011-12-08 19:26:00,0.39,13599.0,United Kingdom
540176,C581470,23084,RABBIT NIGHT LIGHT,-4,2011-12-08 19:28:00,2.08,17924.0,United Kingdom
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom
540448,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,2011-12-09 09:57:00,1.95,14397.0,United Kingdom
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

當Quantity<=0時，該筆交易為取消，InvoiceNo的首字為C

查看單價(UnitPrice)為負或0的情形

In [33]:
df[df.UnitPrice<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647.0,Germany
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560.0,United Kingdom
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911.0,EIRE
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107.0,United Kingdom
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560.0,United Kingdom
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239.0,United Kingdom
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113.0,United Kingdom
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410.0,United Kingdom
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457.0,Switzerland
187613,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667.0,United Kingdom
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415.0,Australia
279324,561284,22167,OVAL WALL MIRROR DIAMANTE,1,2011-07-26 12:24:00,0.0,16818.0,United Kingdom
282912,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507.0,Spain
285657,561916,M,Manual,1,2011-08-01 11:44:00,0.0,15581.0,United Kingdom
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911.0,EIRE
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314747,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands
358655,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133.0,United Kingdom
361825,568384,M,Manual,1,2011-09-27 09:46:00,0.0,12748.0,United Kingdom
379913,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804.0,United Kingdom
395529,571035,M,Manual,1,2011-10-13 12:50:00,0.0,12446.0,RSA
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059.0,United Kingdom
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415.0,Australia
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110.0,United Kingdom
436961,574252,M,Manual,1,2011-11-03 13:24:00,0.0,12437.0,France
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431.0,Australia
446125,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014.0,United Kingdom
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081.0,United Kingdom
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081.0,United Kingdom
479079,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602.0,United Kingdom
479546,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603.0,Germany
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,Norway
485985,577696,M,Manual,1,2011-11-21 11:57:00,0.0,16406.0,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,United Kingdom

統計各國的交易數(不同的發票號碼)

In [40]:
df.groupby('Country').InvoiceNo.nunique().sort_values(ascending=False)

Country
United Kingdom          19857
Germany                   603
France                    458
EIRE                      319
Belgium                   119
Spain                     105
Netherlands               101
Switzerland                71
Portugal                   70
Australia                  69
Italy                      55
Finland                    48
Sweden                     46
Norway                     40
Channel Islands            33
Japan                      28
Poland                     24
Denmark                    21
Cyprus                     20
Austria                    19
Singapore                  10
Malta                      10
Unspecified                 8
USA                         7
Iceland                     7
Greece                      6
Canada                      6
Israel                      6
European Community          5
Czech Republic              5
Lithuania                   4
United Arab Emirates        3
Saudi Arabia                2
Bahrain                     2
RSA                         1
Brazil                      1
Lebanon                     1
Name: InvoiceNo, dtype: int64

統計各國上的顧客數(不同的顧客識別號)

In [42]:
df.groupby('Country').CustomerID.nunique().sort_values(ascending=False)

Country
United Kingdom          3950
Germany                   95
France                    87
Spain                     31
Belgium                   25
Switzerland               21
Portugal                  19
Italy                     15
Finland                   12
Austria                   11
Norway                    10
Channel Islands            9
Denmark                    9
Australia                  9
Netherlands                9
Cyprus                     8
Japan                      8
Sweden                     8
Poland                     6
Unspecified                4
Israel                     4
Greece                     4
USA                        4
Canada                     4
EIRE                       3
United Arab Emirates       2
Bahrain                    2
Malta                      2
Czech Republic             1
Singapore                  1
Lithuania                  1
Saudi Arabia               1
Brazil                     1
RSA                        1
Iceland                    1
Lebanon                    1
European Community         1
Name: CustomerID, dtype: int64

以英國(United Kingdom)為此線上商店的主要銷售國家，其餘的重要國家也大都在歐洲

查看主要顧客的購買次數與金額(不包含取消)(附註：此為RFM模式中的購買頻率'Frequency'和購買金額'Monetary')

In [32]:
df_purchase = df[df.Quantity>0]

In [34]:
df_purchase.groupby('CustomerID').InvoiceNo.nunique() \
.reset_index().sort_values('InvoiceNo', ascending=False)[:20]

      CustomerID  InvoiceNo
322      12748.0        196
1859     14911.0        194
3960     17841.0        121
554      13089.0         94
1644     14606.0         90
2152     15311.0         88
475      12971.0         83
1672     14646.0         74
785      13408.0         60
2668     16029.0         60
4141     18102.0         57
1057     13798.0         56
1587     14527.0         54
1319     14156.0         54
2953     16422.0         50
986      13694.0         49
1944     15039.0         46
2654     16013.0         45
1419     14298.0         44
4038     17949.0         44

In [36]:
df_purchase.assign(Total = df_purchase.UnitPrice*df_purchase.Quantity) \
.groupby('CustomerID').Total.sum().reset_index().sort_values('Total', ascending=False)[:20]

      CustomerID      Total
1672     14646.0  280206.02
4141     18102.0  233736.93
3680     17450.0  192521.95
2971     16446.0  168472.50
1859     14911.0  140359.03
55       12415.0  124914.53
1319     14156.0  117057.43
3723     17511.0   87591.70
0        12346.0   77183.60
2668     16029.0   76753.32
3135     16684.0   66653.56
1276     14096.0   65164.79
986      13694.0   64197.50
2152     15311.0   59416.19
4038     17949.0   57196.48
2489     15769.0   56160.92
554      13089.0   55595.21
1419     14298.0   51527.30
1271     14088.0   50491.81
2474     15749.0   44534.30

查看主要顧客的取消次數與金額

In [8]:
df_cancel = df[df.Quantity<0]

In [27]:
df_cancel.groupby('CustomerID').InvoiceNo.nunique() \
.reset_index().sort_values('InvoiceNo', ascending=False)[:20]

      CustomerID  InvoiceNo
720      14911.0         47
1457     17841.0         43
641      14606.0         34
624      14527.0         29
831      15311.0         25
1109     16422.0         24
231      13089.0         21
319      13408.0         18
355      13534.0         18
36       12471.0         18
227      13078.0         17
490      14096.0         17
244      13113.0         15
1370     17511.0         14
406      13767.0         14
238      13098.0         13
136      12748.0         13
179      12921.0         13
1417     17677.0         13
1018     16029.0         13

In [30]:
major_canceller = df_cancel.assign(Total = df_cancel.UnitPrice*df_cancel.Quantity) \
.groupby('CustomerID').Total.sum().reset_index().sort_values('Total',ascending=True)[:20]
major_canceller

      CustomerID      Total
1113     16446.0 -168469.60
0        12346.0  -77183.60
763      15098.0  -39267.00
1018     16029.0  -30032.23
947      15749.0  -22998.40
135      12744.0  -12158.90
720      14911.0  -11252.44
183      12931.0   -8593.15
60       12536.0   -8495.01
490      14096.0   -8043.88
1357     17450.0   -7068.62
1475     17949.0   -5759.64
642      14607.0   -5228.40
136      12748.0   -4639.68
869      15482.0   -4486.24
876      15502.0   -4458.07
955      15769.0   -4429.00
1355     17448.0   -4287.63
513      14156.0   -3987.99
1012     16013.0   -3764.35

取消金額較大的顧客的購買金額

In [57]:
mc_list = [value for index, value in enumerate(major_canceller.CustomerID.tolist())]

In [59]:
df_mc_purchase = df_purchase.loc[df_purchase.CustomerID.isin(mc_list)]

In [70]:
major_canceller_purchase = df_mc_purchase \
.assign(Purchase_Total = df_mc_purchase.UnitPrice*df_mc_purchase.Quantity) \
.groupby('CustomerID').Purchase_Total.sum() \
.reset_index().sort_values('Purchase_Total',ascending=False)

In [72]:
major_canceller.rename(columns={"Total": "Cancel_Total"}) \
.merge(major_canceller_purchase, how='inner', on=['CustomerID']) \
.assign(Total=lambda x: x.Cancel_Total+x.Purchase_Total)

    CustomerID  Cancel_Total  Purchase_Total      Total
0      16446.0    -168469.60       168472.50       2.90
1      12346.0     -77183.60        77183.60       0.00
2      15098.0     -39267.00        39916.50     649.50
3      16029.0     -30032.23        76753.32   46721.09
4      15749.0     -22998.40        44534.30   21535.90
5      12744.0     -12158.90        21279.29    9120.39
6      14911.0     -11252.44       140359.03  129106.59
7      12931.0      -8593.15        42055.96   33462.81
8      12536.0      -8495.01        12601.83    4106.82
9      14096.0      -8043.88        65164.79   57120.91
10     17450.0      -7068.62       192521.95  185453.33
11     17949.0      -5759.64        57196.48   51436.84
12     14607.0      -5228.40        16569.50   11341.10
13     12748.0      -4639.68        31854.58   27214.90
14     15482.0      -4486.24        11054.96    6568.72
15     15502.0      -4458.07         9455.53    4997.46
16     15769.0      -4429.00        56160.92   51731.92
17     14156.0      -3987.99       117057.43  113069.44
18     16013.0      -3764.35        36068.60   32304.25

每天的購買筆數與金額

將每天的購買金額畫成線圖

挑選2月到五月之間的日期，查看購買金額總數是否有周期變化？

探討一週間的哪一天的購買金額總數最高