In [ ]:
# 顧客流失偵測

In [ ]:
## 載入套件與讀取資料

In [ ]:
### 載入套件

In [1]:
# 載入所需套件

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
'''
圖形中有中文字型的問題
參考
https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/359974/
'''
from matplotlib.font_manager import FontProperties

han_font = FontProperties(fname=r"c:/windows/fonts/msjh.ttc", size=14) # 中文字形

In [3]:
'''
設計圖形呈現的外觀風格
'''
sns.set(style="whitegrid")

In [ ]:
### 讀取資料

In [4]:
# 讀入資料檔
df = pd.read_excel('Online Retail.xlsx')

In [ ]:
### 資料清理

In [5]:
# 去除CustomerID沒有資料的紀錄
df = df.dropna(subset=['CustomerID'])

In [6]:
from datetime import datetime

# 取出2010-12-09到2011-12-09一年之間的資料
df = df[df.InvoiceDate>=datetime(2010, 12, 9, 0, 0, 0)]

In [7]:
#取出購買紀錄(不包含取消紀錄)
df = df[df.Quantity>0]

In [ ]:
### 一年中的顧客購買次數

In [8]:
# 將同一個顧客的發票紀錄聚集成群後，計算不重複的發票編號數量，按照數量由大到小排序
CustomerData = df.groupby("CustomerID").agg({"InvoiceNo": "nunique"})\
.reset_index().sort_values("InvoiceNo", ascending=False)

CustomerData.head(10)

      CustomerID  InvoiceNo
322      12748.0        196
1859     14911.0        194
3960     17841.0        121
554      13089.0         94
1644     14606.0         90
2152     15311.0         88
475      12971.0         83
1672     14646.0         74
785      13408.0         60
2668     16029.0         60

In [9]:
# 一年中購買次數20次或以上的常客
MajorCustomers = CustomerData.CustomerID[CustomerData.InvoiceNo>=20].values

In [10]:
# 常客的購物紀錄
mc_df = df.loc[df.CustomerID.isin(MajorCustomers), ]

In [20]:
# 如果同一筆交易分在連續兩個時間內完成，則取最大者
mc_df = mc_df.groupby(["CustomerID", "InvoiceNo"])\
.agg({"InvoiceDate": "max"}).reset_index()

In [25]:
# 將時間計算從timestamp格式換成datetime格式
mc_freq = mc_df.assign(InvoiceTime=mc_df.InvoiceDate.apply(lambda x: pd.to_datetime(x)))

In [27]:
mc_freq = mc_freq.groupby(["CustomerID", "InvoiceTime"])\
.InvoiceNo.nunique().reset_index()

In [28]:
mc_freq.head(50)

    CustomerID         InvoiceTime  InvoiceNo
0      12415.0 2011-01-06 11:12:00          1
1      12415.0 2011-01-10 09:58:00          1
2      12415.0 2011-02-15 09:52:00          1
3      12415.0 2011-03-03 10:59:00          1
4      12415.0 2011-04-01 14:28:00          1
5      12415.0 2011-05-17 15:42:00          1
6      12415.0 2011-05-20 14:13:00          1
7      12415.0 2011-06-15 13:37:00          2
8      12415.0 2011-07-13 15:30:00          1
9      12415.0 2011-07-13 15:31:00          1
10     12415.0 2011-07-19 10:51:00          1
11     12415.0 2011-08-18 08:51:00          1
12     12415.0 2011-09-01 13:50:00          1
13     12415.0 2011-09-01 13:51:00          1
14     12415.0 2011-10-05 12:35:00          1
15     12415.0 2011-10-05 12:44:00          1
16     12415.0 2011-11-02 12:03:00          1
17     12415.0 2011-11-03 11:26:00          1
18     12415.0 2011-11-15 10:32:00          1
19     12415.0 2011-11-15 14:22:00          1
20     12471.0 2010-12-10 09:35:00          1
21     12471.0 2010-12-10 09:48:00          1
22     12471.0 2010-12-17 11:52:00          1
23     12471.0 2010-12-17 11:53:00          1
24     12471.0 2011-01-13 13:21:00          1
25     12471.0 2011-02-03 10:47:00          1
26     12471.0 2011-02-23 15:53:00          1
27     12471.0 2011-03-18 09:55:00          1
28     12471.0 2011-03-18 09:57:00          1
29     12471.0 2011-04-04 12:10:00          1
30     12471.0 2011-04-04 12:11:00          1
31     12471.0 2011-05-13 08:10:00          1
32     12471.0 2011-05-13 08:11:00          1
33     12471.0 2011-07-04 11:59:00          1
34     12471.0 2011-07-07 12:38:00          1
35     12471.0 2011-07-07 12:40:00          1
36     12471.0 2011-08-22 10:39:00          1
37     12471.0 2011-08-24 12:39:00          1
38     12471.0 2011-08-24 16:13:00          1
39     12471.0 2011-09-16 10:39:00          1
40     12471.0 2011-09-22 17:25:00          1
41     12471.0 2011-10-05 12:24:00          1
42     12471.0 2011-10-05 12:25:00          1
43     12471.0 2011-11-03 09:56:00          1
44     12471.0 2011-11-17 09:49:00          1
45     12471.0 2011-11-24 08:50:00          1
46     12471.0 2011-11-24 12:36:00          1
47     12471.0 2011-11-29 13:00:00          1
48     12471.0 2011-11-29 13:01:00          1
49     12471.0 2011-12-07 15:43:00          1

In [29]:
mc_freq = mc_freq\
.assign(TimeDiff = mc_freq.groupby("CustomerID").InvoiceTime.diff())

In [30]:
mc_freq.head(50)

    CustomerID         InvoiceTime  InvoiceNo         TimeDiff
0      12415.0 2011-01-06 11:12:00          1              NaT
1      12415.0 2011-01-10 09:58:00          1  3 days 22:46:00
2      12415.0 2011-02-15 09:52:00          1 35 days 23:54:00
3      12415.0 2011-03-03 10:59:00          1 16 days 01:07:00
4      12415.0 2011-04-01 14:28:00          1 29 days 03:29:00
5      12415.0 2011-05-17 15:42:00          1 46 days 01:14:00
6      12415.0 2011-05-20 14:13:00          1  2 days 22:31:00
7      12415.0 2011-06-15 13:37:00          2 25 days 23:24:00
8      12415.0 2011-07-13 15:30:00          1 28 days 01:53:00
9      12415.0 2011-07-13 15:31:00          1  0 days 00:01:00
10     12415.0 2011-07-19 10:51:00          1  5 days 19:20:00
11     12415.0 2011-08-18 08:51:00          1 29 days 22:00:00
12     12415.0 2011-09-01 13:50:00          1 14 days 04:59:00
13     12415.0 2011-09-01 13:51:00          1  0 days 00:01:00
14     12415.0 2011-10-05 12:35:00          1 33 days 22:44:00
15     12415.0 2011-10-05 12:44:00          1  0 days 00:09:00
16     12415.0 2011-11-02 12:03:00          1 27 days 23:19:00
17     12415.0 2011-11-03 11:26:00          1  0 days 23:23:00
18     12415.0 2011-11-15 10:32:00          1 11 days 23:06:00
19     12415.0 2011-11-15 14:22:00          1  0 days 03:50:00
20     12471.0 2010-12-10 09:35:00          1              NaT
21     12471.0 2010-12-10 09:48:00          1  0 days 00:13:00
22     12471.0 2010-12-17 11:52:00          1  7 days 02:04:00
23     12471.0 2010-12-17 11:53:00          1  0 days 00:01:00
24     12471.0 2011-01-13 13:21:00          1 27 days 01:28:00
25     12471.0 2011-02-03 10:47:00          1 20 days 21:26:00
26     12471.0 2011-02-23 15:53:00          1 20 days 05:06:00
27     12471.0 2011-03-18 09:55:00          1 22 days 18:02:00
28     12471.0 2011-03-18 09:57:00          1  0 days 00:02:00
29     12471.0 2011-04-04 12:10:00          1 17 days 02:13:00
30     12471.0 2011-04-04 12:11:00          1  0 days 00:01:00
31     12471.0 2011-05-13 08:10:00          1 38 days 19:59:00
32     12471.0 2011-05-13 08:11:00          1  0 days 00:01:00
33     12471.0 2011-07-04 11:59:00          1 52 days 03:48:00
34     12471.0 2011-07-07 12:38:00          1  3 days 00:39:00
35     12471.0 2011-07-07 12:40:00          1  0 days 00:02:00
36     12471.0 2011-08-22 10:39:00          1 45 days 21:59:00
37     12471.0 2011-08-24 12:39:00          1  2 days 02:00:00
38     12471.0 2011-08-24 16:13:00          1  0 days 03:34:00
39     12471.0 2011-09-16 10:39:00          1 22 days 18:26:00
40     12471.0 2011-09-22 17:25:00          1  6 days 06:46:00
41     12471.0 2011-10-05 12:24:00          1 12 days 18:59:00
42     12471.0 2011-10-05 12:25:00          1  0 days 00:01:00
43     12471.0 2011-11-03 09:56:00          1 28 days 21:31:00
44     12471.0 2011-11-17 09:49:00          1 13 days 23:53:00
45     12471.0 2011-11-24 08:50:00          1  6 days 23:01:00
46     12471.0 2011-11-24 12:36:00          1  0 days 03:46:00
47     12471.0 2011-11-29 13:00:00          1  5 days 00:24:00
48     12471.0 2011-11-29 13:01:00          1  0 days 00:01:00
49     12471.0 2011-12-07 15:43:00          1  8 days 02:42:00